<div class="container-fluid">
  <div class="row my-3">
    <div class="col-12">
      <div class="containerFirstEventDetail"
        style="padding-top: 30px; background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{contentBlog}}')">
        <div class="triangle"></div>
        <div class="firstEvent">
          <div class="containerTitleLogoEvent">
            <h3 class="titleEvent fontColorWhite" style="color:white;">
              <p id="blog-2">
                

              </p>
            </h3>
          </div>
        </div>
        <div class="detailMovile">
          <p style="font-size: 32px;">
            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <!-- contenedor izquierda -->
      <h1>col1</h1>
    </div>
    <div class="col-12 col-md-3">
      <h1>col2</h1>
      <!-- contenedor centro -->
    </div>
    <div class="col-12 col-md-3">
      <h1>col3</h1>
      <!-- contenedor derecha -->
    </div>
  </div>

</div>